<footer class="govuk-footer">
    <div class="govuk-width-container">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="govuk-visually-hidden">Support links</h2>
          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="#">
                <a href="https://user-guidance.analytical-platform.service.justice.gov.uk/#overview">User Guidance</a>
              </a>
            </li>
            <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="#">
                  <a href="https://github.com/ministryofjustice/data-platform-support">Help</a>
                </a>
              </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="#">
                <a href="https://github.com/ministryofjustice/analytical-platform-ollamate">GitHub</a>
              </a>
            </li>
          </ul>
          <div class="govuk-footer__meta-custom">
            Built by the <a href="https://github.com/ministryofjustice/analytical-platform" class="govuk-footer__link">Ministry of Justice - Analytical Platform</a>
            </div>
        </div>

        <div class="govuk-footer__meta-item">
          <a
            class="govuk-footer__link govuk-footer__copyright-logo"
            href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
            © Crown copyright
          </a>
        </div>
      </div>
    </div>
  </footer>
